run="python3 ./정렬/가장큰수.py"
# token key = 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
language="python3"
#onBoot="echo Booting up!"

#[packager]
#afterInstall="date >> package_install_log"
#ignoredPaths=[".git"]
#ignoredPackages=["twitter", "discord"]