run="python3 ./깊이너비우선탐색/네트워크.py"
# token key = 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
#language="python3"
#onBoot="echo Booting up!"

#[packager]
#afterInstall="date >> package_install_log"
#ignoredPaths=[".git"]
#ignoredPackages=["twitter", "discord"]