run="python3 ./스택큐/다리를지나는트럭.py"
# token key = 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
language="python3"
#onBoot="echo Booting up!"

#[packager]
#afterInstall="date >> package_install_log"
#ignoredPaths=[".git"]
#ignoredPackages=["twitter", "discord"]